* {
  margin: 0px;
  padding: 0px;
}
.articulo {
  height: 1000px;
  background-color: rgb(39, 204, 102);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#ContieneImg {
  background-color: rgb(245, 213, 166);
  perspective: 1000px;
  text-align: center;
}
#gokuBlue {
  filter: drop-shadow(0 0 10px rgb(86, 198, 218));
  transition: all 1s ease-in-out;
  background-color: transparent;
}
#gokuBlue:hover {
  filter: drop-shadow(0 0 40px rgb(74, 166, 209));
  transform: rotateY(35deg);
}
#section1 {
  background-color: tan;
}
#section2 {
  background-color: tomato;
}
#section3 {
  background-color: violet;
}
